nav a {
    background-color: red;
    padding: 10px;
    display: block;
    height:100px;
    width:30px;  
    margin-bottom: 10px;
    border-color: green;
    border-width: 3px;
    border-style: solid;
}
nav a:last-child {
    margin-bottom: 0px;
}