*{
    box-sizing: border-box;
}

main{
    margin:0 auto;
    width:60%;
    display:flex;
    flex-direction: column;
}

.row{
    display:flex;
    height:150px;
    margin-bottom: 30px;
}

.col-1{
    flex-grow: 1;
}

.col-3{
    flex-grow: 3;
}

.col-2{
    flex-grow:2;
}

.row .cell{
    background:gray;
    margin-right:30px;
}

.row > div{
    margin-right: 30px;
}

.multi{
    display: flex;
    flex-direction: column;
}