* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
            
main {
    width: 680px;
    height: 630px;
    border: solid 1px #ECF0F1;
    align-content: center;
    margin: auto;
    margin-top: 25px;
}
main .color {
    width: 640px;
    height: 350px;
    margin: 15px auto;
    background-color: #A1B1BC;
}
h1 {
    font-family: 'Lobster';
    font-size: 24px;
    color: #21C2F8;
    margin-left: -23px;
}
.info1 {
    font-family: 'PT Sans';
    color: #B0BEC7;
    margin-left: -23px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 25.4px;
    word-spacing: 3.3px
}
 .info2 {
    font-family: 'PT Sans';
    color: #B0BEC7;
    font-size: 14px;
    line-height: 23.6px
}
.section1{
    margin-left: 40px;
}
hr {
    border: 1;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
  }
.section2 {
    width: 657px;
    height: 90px;
    margin-left: 19.6px;
    margin-top: 12px;
}
.addtional{
    width: 640px;
    margin: 15px auto;
    
}
.addtional a {
    color: #21C2F8;
    text-decoration: none;
    position: relative;
    top: 7px;
    font-size: 14px;
    right: 2px;
}
.info1 span::after {
    content: "";
    display: inline-block;
    background-color: black;
    width: 1px;
    height: 16px;
   
}