.left {
    background: transparent;
    display: inline-block;
    width: 330px;
    height: 1px;
    left: 40%;
    border: 1px solid gray;
    padding-left: 3%;
}
.right {
    background: transparent;
    display: inline-block;
    width: 330px;
    height: 1px;
    left: 40%;
    border: 1px solid gray;
    padding-left: 3%;
}