.main {
    background: darkblue;
    height: 300px;
    width: 300px;
    position: relative;
}
.center {
    position: absolute;
    background: white;
    height: 40px;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
