header, div, footer {
    height: 150px;
    margin-bottom: 30px;
    background: blue;
    color: #fff;
}
main {
    width: 820px;
    margin: 0 auto;
}
.col-1, .col-2, .col-3 {
    width: 260px;
    float: left;
    margin: 0 10px;
    margin-bottom: -149px;
}
.col-1 {
    margin-left: 0;
}
.col-3 {
    margin-right: 0;
    height: 330px;
}
.row {
    clear: both;
    background: transparent;
}


.col-4 {
    float: left;
    width: 536px;
}
.row1 {
    clear: both;
    background: transparent;
}
.col-7 {
    float: right;
    width: 536px;
}
.col-6 {
    float: left;
    width: 258px;
}
.row2 {
    clear: both;
    background: transparent;
}